repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.99.4
    hooks:
      - id: terraform_fmt
  #     - id: terraform_validate
  #       exclude: '^modules/'
  #     - id: terraform_tflint
  #       args:
  #         - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
  #     - id: terraform_checkov
  #       args:
  #         - --args=--quiet
